chatbot-demo/n8n-chatbot-to-slack.json
{
  "name": "Chatbot Lead to Slack + Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Chatbot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "chatbot-lead"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Lead received\"}",
        "options": {}
      },
      "id": "response-node",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "operation": "post",
        "channel": {
          "__rl": true,
          "value": "#leads",
          "mode": "name"
        },
        "text": "=:fire: *New Lead from Website Chatbot*\n\n:bust_in_silhouette: *Name:* {{ $json.name }}\n:office: *Business:* {{ $json.business }}\n:email: *Email:* {{ $json.email }}\n:dart: *Interested In:* {{ $json.service }}\n:speech_balloon: *Message:* {{ $json.message }}\n\n:clock1: *Submitted:* {{ $json.timestamp }}\n:iphone: *Mobile:* {{ $json.is_mobile ? 'Yes' : 'No' }}\n:warning: *Bypass Attempts:* {{ $json.bypass_attempts }}",
        "otherOptions": {}
      },
      "id": "slack-node",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [450, 400],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Name": "={{ $json.name }}",
            "Business": "={{ $json.business }}",
            "Email": "={{ $json.email }}",
            "Service": "={{ $json.service }}",
            "Message": "={{ $json.message }}",
            "Transcript": "={{ $json.transcript_text }}",
            "Source": "={{ $json.source }}",
            "Mobile": "={{ $json.is_mobile }}",
            "Bypass Attempts": "={{ $json.bypass_attempts }}",
            "Page URL": "={{ $json.page_url }}"
          }
        },
        "options": {}
      },
      "id": "sheets-node",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [450, 550],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "Chatbot Webhook": {
      "main": [
        [
          { "node": "Send Response", "type": "main", "index": 0 },
          { "node": "Send to Slack", "type": "main", "index": 0 },
          { "node": "Save to Google Sheets", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0
}
